---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2>Description</h2>
  <p>Notesite is a simple tool for displaying Markdown notes stored in their own Git repository.</p>

  <h2>Reading Notes</h2>
  <p>Go to the <a href=notes/>notes page</a> to navigate between topics and entries.</p>

  <h2>Writing Notes</h2>
  <p>Notes are stored in their own Git repository and brought in via a Git Submodule. Whenever you update your notes repo, run the below commands to update this site.</p>

<pre><code>$ git submodule update --remote
$ git add --all
$ git commit -m "Imported latest version of notes"
$ git push
</code></pre>

  {{ content }}

</div>
